<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simon.lib.scanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity
            android:name=".CaptureActivity"
            android:screenOrientation="nosensor" />

    </application>

</manifest>
